 <div class="card mb-4">

                        <div class="card-body">
                            <h5 class="mb-3 card-title">Recent<small><a href="#" class="ml-1"></a></small></h5>

                            <div class="row">
                                <div class="col-6 p-1">
                                    <a href="pics/pic1.jpg" data-lightbox="id" ><img src="pics/pic1.jpg" alt="img" class="img-fluid my-2"></a>  
                                    <a href="pics/pic2.jpg"data-lightbox="id"><img src="pics/pic2.jpg" alt="img" class="img-fluid my-2"></a>
                                    <a href="pics/pic3.jpg"data-lightbox="id"><img src="pics/pic3.jpg" alt="img" class="img-fluid my-2"></a>

                                </div>


                                <div class="col-6 p-1">
                                        <a href="pics/pic4.jpg"data-lightbox="id"><img src="pics/pic4.jpg" alt="img" class="img-fluid my-2"></a>
                                        <a href="pics/pic5.jpg"data-lightbox="id"><img src="pics/pic5.jpg" alt="img" class="img-fluid my-2"></a>
                                        <a href="pics/pic6.jpg"data-lightbox="id"><img src="pics/pic6.jpg" alt="img" class="img-fluid my-2"></a>
    
                                    </div>

                            </div>

                        </div>
                        </div>